*{
  margin:0;
  padding:0
}

/* body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-thumb{
  width: 8px;border-radius: 4px;background-color: #eDe7f8;
} */

#app{
  height: 100vh;
  overflow: hidden;
}